# Please keep sections sorted.

# Various common files to exclude.
*.a
*.o
*.pb.cc
*.pb.h
*.pyc
*.so
*_pb2.py
*~
.*.swp
.depend

# More specific files.
/cpp/client/ct
/cpp/gmock/
/cpp/local.mk
/cpp/log/cert_checker_test
/cpp/log/cert_submission_handler_test
/cpp/log/cert_test
/cpp/log/ct_extensions_test
/cpp/log/database_large_test
/cpp/log/database_test
/cpp/log/file_storage_test
/cpp/log/frontend_signer_test
/cpp/log/frontend_test
/cpp/log/log_lookup_test
/cpp/log/log_signer_test
/cpp/log/logged_certificate_test
/cpp/log/signer_verifier_test
/cpp/log/tree_signer_test
/cpp/merkletree/merkle_tree_large_test
/cpp/merkletree/merkle_tree_test
/cpp/merkletree/serial_hasher_test
/cpp/merkletree/tree_hasher_test
/cpp/monitor/database_test
/cpp/proto/serializer_test
/cpp/server/blob-server
/cpp/server/ct-dns-server
/cpp/server/ct-server
/cpp/util/bench_etcd
/cpp/util/etcd_test
/cpp/util/json_wrapper_test
/java/build
/local.properties
/python/_trial_temp/
/test/*.bin
/test/*.csr
/test/*.der
/test/*.log
/test/*.so
/test/*.srl
/test/apachectl
/test/httpd-local.conf
/test/httpd-new
/test/testdata/error.log
/test/testdata/logs
/test/testdata/test-cert-proof-extension.pem

# IntelliJ artefacts
/java/.idea/dictionaries/
/java/.idea/workspace.xml
/java/out

# Eclipse artefacts
/java/.classpath
/java/.project
/java/bin

# zsh ant target cache
.ant_targets
