*~
.*.swp
/doc/draft-ietf-trans-rfc6962-bis-*.html
/doc/draft-ietf-trans-rfc6962-bis-*-*-diff.html
/doc/draft-laurie-pki-sunlight-*.html
/doc/draft-laurie-pki-sunlight-*-*-diff.html
/doc/draft-laurie-rfc6962-bis-*.html
/doc/draft-laurie-rfc6962-bis-*-*-diff.html
*.o
*.syso
*.so
*.a
/merkletree/merkle_tree_test
/merkletree/merkle_tree_large_test
/merkletree/serial_hasher_test
/merkletree/tree_hasher_test
.depend
/client/ct
/server/blob-server
/server/ct-server
/server/ct-rfc-server
/test/apachectl
/test/*.bin
/test/*.csr
/test/*.der
/test/*.log
/test/*.srl
/test/httpd-local.conf
/test/testdata/logs
/test/testdata/test-cert-proof-extension.pem
/util/json_wrapper_test
/log/cert_test
/log/cert_checker_test
/log/ct_extensions_test
/log/log_lookup_test
/log/log_signer_test
/log/logged_certificate_test
/log/cert_submission_handler_test
/log/frontend_signer_test
/log/frontend_test
/log/file_storage_test
/log/database_test
/log/database_large_test
/log/tree_signer_test
/log/signer_verifier_test
*.pb.h
*.pb.cc
/proto/serializer_test
/test/apachectl
/test/httpd-new
/test/*.so
/test/testdata/error.log
*.pyc
*_pb2.py
/gtest
/java/build
/local.properties
# IntelliJ artefacts
/java/out
/java/.idea/workspace.xml
/java/.idea/dictionaries/
/monitor/database_test
.ant_targets
# Eclipse IDE
/java/bin
.classpath
.project
