
language: cpp

cache: apt

before_install:
 - sudo apt-add-repository -y ppa:prantlf/cpp-netlib
 - sudo apt-add-repository -y ppa:fcitx-team/nightly
 - sudo apt-add-repository -y ppa:dirk-computer42/c42-edge
 - sudo apt-get update -qq
 - sudo apt-get install -qq protobuf-compiler libprotobuf-java libprotobuf-dev python-protobuf python-mock python-gflags python-requests python-dev libgtest-dev libjson-c-dev cpp-netlib-dev libgoogle-glog-dev libgflags-dev libldns-dev python-dnspython
 - sudo pip install ecdsa 'Twisted>=12.1'
 - sudo ln -s protobuf-java.jar /usr/share/java/protobuf.jar
 - mkdir -p $GOPATH/src/github.com/google
 - ln -s $PWD $GOPATH/src/github.com/google
 - go get -v -d ./...
 - java -version
 - javac -version
 - go version

script:
 - make alltests CC=clang CXX=clang++
 - go test -v ./go/...

notifications:
  email:
   - certificate-transparency@googlegroups.com
