ctlog:{
  log_server:'https://ct.googleapis.com/pilot'
  log_id:'pLkJkLQYWBSHuxOizGdwCjw1mAT5G9+443fNDsgN3BA='
  public_key_info:{
    type:ECDSA
    pem_key:
    '-----BEGIN PUBLIC KEY-----\n'
    'MFkwEwYHKoZIzj0CAQYIKoZIzj0D'
    'AQcDQgAEfahLEimAoz2t01p3uMzi'
    'iLOl/fHTDM0YDOhBRuiBARsV4Uvx'
    'G2LdNgoIGLrtCzWE0J5APC2em4Jl'
    'vR8EEEFMoA==\n'
    '-----END PUBLIC KEY-----'
  }
}

# Add more logs here

# ctlog:{
#   log_server:'my_log_server'
#   log_id:'my_log_server_sha256_hash_id'
#   public_key_info:{
#     type:ECDSA
#     pem_key:'pem_key_with_headers'
#   }
# }
